<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549045872-0da5eb6316a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2980&q=80);">
  <div class="container">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">Hang out with</p>
        <ul class="content__container__list">
          <% @celebrities.each do |celebrity| %>
          <li class="content__container__list__item"><%= celebrity.first_name %>!</li>
          <% end %>
        </ul>
      </div>
      <h5 class="text-center" id="banner-slogan">Once in a lifetime experience to spend time with your favorite celebrity</h5>
    </div>
    <!-- <div class="container mb-4">
      <h1>Celebrent revolutionize the way of making friends, <strong>hanging out with a celebrity is not a dream anymore! </strong>!</h1>
      <% if user_signed_in? == false %>
        <%= link_to 'Sign up now', new_user_registration_path, class: "btn btn-secondary mt-3" %>
      <% end %>
    </div> -->
  </div>
</div>
