<div class="card" style="border:none; background-color:transparent; box-shadow:none;">
  <div class="card-body" style="padding: 0px;">
    <div class="marker-photo" style="display: flex; justify-content: center;">
    <%= image_tag(celebrity.photo, class: "avatar") %>
    </div>
    <div class="marker-info ml-3">
      <h6><%= link_to celebrity.full_name,celebrity_path(celebrity), {style: 'color: black'} %></h6>
    </div>
  </div>
</div>
