<%= render 'banner' %>
<div class="pb-4">
  <div class="container">
    <div class="neon"><p class="outline text-center">
      CELEBRITIES FOR RENT</p>
    </div>
    <div class="card-deck">
      <%= render @celebrities %>
    </div>
  </div>
</div>
<%= render 'footer' %>
