.container {
  // display: flex;
}

.card-img-size{
  height: 200px;
  object-fit: cover;
}

.celebrity_profile {
  margin: 0px 20px;
}

.celebrity_profile li {
  list-style-type: none;
}

////////////////////////////
// INDEX celebrity components ->

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.card {
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-info {
  margin: 14px;
}

.card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos h2 {
  font-size: 22px;
}

a:hover {
color: white;
text-decoration: none;
}

a {
  color: white;
}



////////////////////////////
// SHOW celebrity components ->

.card-product {
  overflow: hidden;
  height: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 22px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.booking-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 20px;
}

.booking-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 5px;
}

.booking-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking-infos {
  width: 600px;
  padding: 5px;
}

.booking-product .card-booking-infos {
  padding: 25px;
}
