.container {
  // display: flex;
}

.card-img-size{
  height: 200px;
  object-fit: cover;
}

.celebrity_profile {
  margin: 0px 20px;
}

.celebrity_profile li {
  list-style-type: none;
}

////////////////////////////
// INDEX celebrity components ->

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.card {
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-info {
  margin: 14px;
}

.card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos h2 {
  font-size: 22px;
}

a:hover {
color: white;
text-decoration: none;
}

a {
  color: white;
}



////////////////////////////
// SHOW celebrity components ->

.card-product {
  overflow: hidden;
  height: 550px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 22px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-link {
  color: #6c757d;
}

.booking-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
}

.booking-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 20px;
  margin: 8px 5px
}

.booking-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 5px;
}

.booking-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking-infos {
  display: flex;
  width: 500px;
  height: 100px;
  padding-left: 10px;
  align-items: space-between;
}

#booking_duration {
  height: 25px;
  padding-right: 20px;
}

.edit_booking {
  display: flex;
  align-items: space-around;
}

#booking_duration {
  margin-right: 30px;
}

.booking-status-div {
  width: 540px;
  justify-content: space-between;
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.card-booking-name {
  padding-right: 20px
}
.card-rate-infos {
  width: 130px;
}

#booking_booking_date {
  margin-left: 10px;
  width: 150px;
  height: 25px;
}

.btn-link {
  padding-top: 0px;
}

.container-photo {
  height: 565px;
  width: 400px;
  // object-fit: cover;
}

.img-show {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.container-show {
  margin: auto;
  width: 80vw;
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 400px;
  border-radius: 2px;
  height: 565px;
}

.container-show-b {
  margin: auto;
  width: 60vw;
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 400px;
  border-radius: 2px;
}

.container-info-text {
  margin: 30px 79px;
  text-align: center;
}


// tags
.tags-container {
  display: flex;
}

.celebrity-tags {
  margin: 0px 2px;
}

h5 {
  font-weight: normal;
}

//

.form-category {
  width: 200px;
  padding: 10px 18px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  margin-top: 40px;
}

.form-category h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 28px;
}

.form-category h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 4px;
}
