.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.mapboxgl-popup-content {
  text-decoration: none;
  color: black;
}

.info-window {
  color: black;
}
