.navbar-lewagon {
  justify-content: space-between;
  background: #191a1a;
  margin-bottom: -16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand-text-light {
  color: orange;
  font-family: 'Arvo', serif;
  font-size: 22px;
}

.navbar-brand-text-light .hover {
  color: gray;
}
