.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: -16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand .text-light h1 h2 h3 h4 h5 h6{
  font-size: 1px;
}
