.wishlist-content{
  justify-content:space-between;
}

/*================ CARD ============== */

.card-wishlists{
  height: 120px;
}

.username-card{
  color: white;
  padding: 24px;
  height: 120px;
  width: 320px;
  text-align: center;
  background-color: orange;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px 8px;
  align-items: center;
}

.card-wishlist {
  position: relative;
  height: 120px;
  width: 320px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px 8px;
  align-items: center;
}

.card-wishlist img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-wishlist h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-wishlist p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-wishlist .card-wishlist-infos {
  padding: 16px;
}

.wishlist-ad{
  width: 392px;
  height: 100vh;
  padding: 24px;
  position: relative;
}

.promo{
  position:absolute;
  height:48px;
  width: 48px;
  font-size: 16px;
  background-color: orange;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button{
  position: absolute;
  top: 4px;
  right: 6px;
}
