<div class="wishlist_container">
  <div class="wishlist_flex">


  <div class="wishlist_card">
    <div class="wishlist_left_card">

    </div>
    <div class="wishlist_right_card">
      <div class="wishlist_circle">
        <span class="wishlist_icon">
          <i class="far fa-trash-alt"></i>
        </span>
        <div class="wishlist_circle_loader">
        </div>
      </div>
    </div>

  </div>


  </div>

  <button class="wishlist_reset">
    reset
  </button>
</div>
